<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Group of group Suite" verbose="1">
    <suite-files>
        <suite-file path="suites-test-testng.xml"></suite-file>
        <suite-file path="independent-test-testng.xml"></suite-file>
    </suite-files>
</suite>
